@charset "UTF-8";

/*
#loader
{
    background: #e2e2e2b5;

    position: absolute;
    left: 50;

    height: 100%;
    width: 100%;
}

i.fas.fa-circle-notch.fa-spin
{
    font-size: 10rem;

    position: absolute;
    inset: 50% auto auto 50%;

    transform: translate(-50%, -50%);
    transform-origin: center;
}
*/