@charset "UTF-8";

#controller > :only-child
{
    background: rgb(23, 98, 168);

    padding: 10px;

    height: 100%;
}

/* #region header */

#controller header > :only-child
{
    align-items: center;
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
    padding: 10px;
}

#controller header :any-link
{
    color: white;

    text-decoration: none;
}

#controller header figure
{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#controller header img
{
    border-radius: 50%;

    opacity: .8;
}

/* #endregion header */

/* #region menu */

#controller menu
{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#controller menu button
{
    background: none;
    border: none;

    color: white;
    cursor: pointer;

    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;

    outline: none;
    padding: 10px;
}

/* #endregion menu */