@charset "UTF-8";

#profile > div > aside > :only-child
{
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #aaa;

    padding: 10px;

    position: sticky;
    inset: 0 auto auto 0;
}

#profile > div > aside :is(header, nav)
{
    /* height: 100%; */
}

#profile > div > aside :is(header, nav) > :only-child
{
    /* height: 100%; */
}

/* #region header */

#profile > div > aside header > :only-child
{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;

    padding: 10px;
}

#profile > div > aside header figure
{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#profile > div > aside header figure > img
{
    border-radius: 50%;

    outline: medium solid #1762a8;
}

#profile > div > aside header figure > figcaption
{
    font: bold 1rem sans-serif;
}

#profile > div > aside header p
{
    font: normal .9rem sans-serif;
}

/* #endregion header */

/* #region nav */

#profile > div > aside nav > :only-child
{
    margin-top: 20px;
    padding: 10px;
}

#profile > div > aside nav ul
{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

#profile > div > aside .data > :first-child
{
    align-items: center;
    display: inline-flex;
    gap: 10px;

    font: normal .9rem sans-serif;
}

#profile > div > aside .data > :first-child > [class]
{
    color: #1762a8;
}

#profile > div > aside .data > :last-child
{
    display: block;

    font: normal .85rem sans-serif;

    text-align: right;
}

/* #endregion nav */