@charset "UTF-8";

@import "/assets/css/reset.css";
@import "../../../header/index.css";
@import "../../../footer/index.css";
@import "../../../aside/index.css";

body
{
    display: grid;
    grid: 10vh 80vh 10vh / 20% 80%;

    width: 100%;
}

body > header
{
    grid-area: 1 / 2 / 2 / 4;
}

body > main
{
    grid-area: 2 / 2 / 3 / 4;
}

body > footer
{
    grid-area: 3 / 2 / 4 / 4;
}

body > aside
{
    grid-area: 1 / 1 / 4 / 2;
}

main > div
{
    padding: 20px;
}

#timetable > div > header > div
{
    align-items: center;
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

#timetable > div > header h1
{
    font: bold 1.5rem sans-serif;
}

#timetable > div > header ul
{
    display: flex;
    gap: 5px;
}

table
{
    outline: thin solid #ccc;
}

table tbody tr
{
    outline: thin solid #ccc;
}

table :is(th)
{
    text-align: center;
}

th
{
    font-weight: bold;
}

td
{
    font-size: .85rem;
}