@charset "UTF-8";

#timetable > div > header > div
{
    align-items: center;
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

#timetable > div > header h1
{
    font: bold 1.5rem sans-serif;
}

#timetable > div > header ul
{
    display: flex;
    gap: 5px;
}

table
{
    outline: thin solid #ccc;
}

table tbody tr
{
    outline: thin solid #ccc;
}

table :is(th)
{
    text-align: center;
}

th
{
    font-weight: bold;
}

td
{
    font-size: .85rem;
}