@charset "UTF-8";

/* #region section */

.parent-information > :only-child
{
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #aaa;
}

.parent-information > div > header > div
{
    background: #1762a8;
    border-radius: 5px 5px 0 0;

    color: white;
}

.parent-information > div > nav > div
{
    padding: 10px;
}

.parent-information > div > nav ul
{
    display: flex;
    flex-flow: column nowrap;
}

.parent-information > div > nav ul div
{
    padding: 10px;
}

.parent-information > div > nav ul div > p
{
    font: normal .9rem sans-serif;
}

.parent-information > div > nav ul div > p,
.parent-information > div > nav ul div > ul
{
    /* outline: thin solid red; */
    margin-top: 10px;
    padding-left: 1cm;
}

.parent-information > div > nav ul div ul
{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.parent-information > div > nav ul div ul li
{
    border: thin solid #1762a8;
    border-radius: 20px;

    font: normal .85rem sans-serif;

    padding: 3px 15px;
}

/* #endregion section */