@charset "UTF-8";

.parent-information > :only-child
{
    box-shadow: 0 0 5px 1px #aaa;

    padding: 10px;
}

.parent-information:first-of-type > :only-child
{
    border-radius: 10px 10px 0 0;
}

.parent-information:last-of-type > :only-child
{
    border-radius: 0 0 10px 10px;
}

/* #region header */

.parent-information > div > header > div
{
    background: #1762a8;

    color: white;

    padding: 20px 15px;
}

.parent-information:first-of-type > div > header > div
{
    border-radius: 7px 7px 0 0;
}

.parent-information:last-of-type > div > header > div
{
    border-radius: 0 0 7px 7px;
}

/* #endregion header */

/* #region nav */

.parent-information > div > nav > div
{
    margin-top: 10px;
}

.parent-information > div > nav ul
{
    display: flex;
    flex-flow: column nowrap;
}

/* #endregion nav */

/* #region info */

.parent-information .info
{
    padding: 10px;
}

.parent-information .info > :first-child
{
    align-items: center;
    display: inline-flex;
    gap: 10px;

    font: bold .9rem sans-serif;
}

.parent-information .info > :last-child
{
    margin-top: 10px;
}

.parent-information .info > p
{
    font: normal .9rem sans-serif;

    text-indent: 1cm;
}

.parent-information .info > ul
{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;

    padding-left: 1cm;
}

.parent-information .info .skill
{
    background: #1762a8;
    border-radius: 20px;

    color: white;

    font: normal .83rem sans-serif;

    padding: 4px 15px;
}

/* #endregion info */