@charset "UTF-8";

/* #region layout */

#profile > :only-child
{
    border: thin solid red;

    display: grid;
    grid: 10% auto auto / calc(20% - 10px) calc(80% - 10px);
    gap: 5% 2%;
}

#profile > div > :first-child
{
    /* outline: thin solid red; */
    grid-area: 1 / 1 / 2 / 3;
}

#profile > div > :nth-child(2)
{
    /* outline: thin solid red; */
    grid-area: 2 / 2 / 3 / 3;
}

#profile > div > :nth-child(3)
{
    /* outline: thin solid red; */
    grid-area: 3 / 2 / 4 / 3;
}

#profile > div > :last-child
{
    /* outline: thin solid red; */
    grid-area: 2 / 1 / 4 / 2;
}

/* #endregion layout */

/* #region header */

#profile > div > header > :only-child
{
    align-items: center;
    display: flex;
    justify-content: space-between;

    padding: 0 20px;

    height: 100%;
}

/* #endregion header */

/* #region section */

#profile > div > section > :only-child
{
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #aaa;
}

#profile > div > section > div > header > div
{
    background: #1762a8;
    border-radius: 5px 5px 0 0;

    color: white;
}

#profile > div > section > div > nav > div
{
    padding: 10px;
}

#profile > div > section > div > nav ul
{
    display: flex;
    flex-flow: column nowrap;
}

#profile > div > section > div > nav ul div
{
    padding: 10px;
}

#profile > div > section > div > nav ul div > p
{
    font: normal .9rem sans-serif;
}

#profile > div > section > div > nav ul div > p,
#profile > div > section > div > nav ul div > ul
{
    /* outline: thin solid red; */
    margin-top: 10px;
    padding-left: 1cm;
}

#profile > div > section > div > nav ul div ul
{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

#profile > div > section > div > nav ul div ul li
{
    border: thin solid #1762a8;
    border-radius: 20px;

    font: normal .85rem sans-serif;

    padding: 3px 15px;
}

/* #endregion section */

/* #region aside */

#profile > div > aside > :only-child
{
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #aaa;

    height: 100%;
}

#profile > div > aside header > div
{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;

    outline: thin solid #ccc;
    padding: 10px;

    height: 100%;
}

#profile > div > aside header figure
{
    /* align-items: center; */
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    gap: 10px;
}

#profile > div > aside header figure > img
{
    border-radius: 50%;
    outline: 2px solid #1762a8;
}

#profile > div > aside nav > div
{
    outline: thin solid #ccc;
    padding: 10px;

    height: 100%;
}

#profile > div > aside nav ul
{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

#profile > div > aside nav ul p > :last-child
{
    display: block;
    text-align: right;
}

/* #endregion aside */