@charset "UTF-8";

@import "./.components/table/index.css";
@import "./.components/form/index.css";

#sm
{
    position: absolute;
    inset: 25px;
}

#sm > div
{
    background: white;

    height: 100%;
}

#sm > div > header > div
{
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 20px;
}

#sm > div > header h1
{
    font: bold 1.5rem sans-serif;
}

#sm > div > header ul
{
    display: flex;
    gap: 5px;
}