@charset "UTF-8";

@import "/assets/css/reset.css";

@import "../header/index.css";
@import "../footer/index.css";
@import "../aside/index.css";

@import "./.components/layout.css";
@import "./.components/table/index.css";
@import "./.components/form/index.css";

main > div
{
    padding: 25px;
}

#sm > div > header > div
{
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 20px;
}

#sm > div > header h1
{
    font: bold 1.5rem sans-serif;
}

#sm > div > header ul
{
    display: flex;
    gap: 5px;
}