@charset "UTF-8";

#table > :only-child
{
    background: white;
    box-shadow: 0 0 5px #aaa;

    padding: 20px;
}

/* #region header */

#table header > :only-child
{
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    /* outline: thin solid #ccc; */
    padding: 10px;
}

#table header h3
{
    color: #777;

    font: bold 1rem sans-serif;
}

#table header button
{
    background: rgb(29, 150, 49);
    border: none;
    border-radius: 15px;

    color: white;
    cursor: pointer;

    align-items: center;
    display: flex;
    gap: 5px;

    font: normal .7rem sans-serif;

    outline: none;
    padding: 7px 15px;
}

/* #endregion header */

/* #region table */

table
{
    outline: thin solid #ccc;
}

table tbody tr
{
    outline: thin solid #ccc;
}

table thead th
{
    font: bold .85rem sans-serif;
}

table tbody td
{
    font: normal .85rem sans-serif;
}

table :is(th, td)
{
    text-align: center;
}

/* #endregion table */